/* ==========================================================================
   Base Reset
   ========================================================================== */
:where(html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, 
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, 
time, mark, audio, video) {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

/* ==========================================================================
   Box Sizing
   ========================================================================== */
*, *::before, *::after {
    box-sizing: border-box;
}

/* ==========================================================================
   Root & Body Styles
   ========================================================================== */
:root {
    --background-color: #fff;
    --background-secondary-color: #F3F5F7;
    --background-tertiary-color: #E4E5E6;
    --text-color: #444444;
    --text-secondary-color: #888888;
    --text-tertiary-color: #d9d9d9;
    --accent-color: #DD4C4F;
    --text-font: "Inter", sans-serif;
    --heading-font: "Inter", sans-serif;
    --code-font: monospace;
    --stroke-color: #D9D9D9;
    
    scroll-behavior: smooth;
}

html {
    font-size: 16px;
    line-height: 1;
}

body {
    font-family: var(--text-font);
    color: var(--text-color);
    line-height: 1.7;
    min-height: 100vh;
    margin: 0;
    -webkit-text-size-adjust: none;
}

/* ==========================================================================
   Typography
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    line-height: 1.1;
    margin-bottom: 0.3em;
}

h1 { font-size: 2.6rem; }
h2 { font-size: 2.6rem; }
h3 { font-size: 1.8rem; }

@media (min-width: 32em) {
    h1 { font-size: 3.2rem; }
}

.subtitle {
    font-size: 1.4rem;
    color: var(--text-secondary-color);
    max-width: 26em;
    margin: 1rem auto 0;
    text-align: center;
    line-height: 1.4;
}

b, strong {
    font-weight: 700;
}

/* ==========================================================================
   Links & Buttons
   ========================================================================== */
a {
    color: var(--accent-color);
    text-decoration: none;
    cursor: pointer;
}
a img {
        border: none;
    }

.link-button {
    display: inline-block;
    background: var(--accent-color);
    color: white;
    padding: 0.5em 1.5em;
    border-radius: 0.5em;
    text-align: center;
    letter-spacing: 0.5px;
    cursor: pointer;
}

/* ==========================================================================
   Lists
   ========================================================================== */
ol, ul {
    list-style: none;
}

/* ==========================================================================
   Tables
   ========================================================================== */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

/* ==========================================================================
   Forms
   ========================================================================== */
input, select, textarea {
    font-family: var(--text-font);
    font-size: 1.1rem;
    -webkit-appearance: none;
    border: solid 1px var(--stroke-color);
    border-radius: 0.5em;
    padding: 0.5em 1em;
    outline: none;
    color: var(--text-color);
}
input::placeholder, select::placeholder, textarea::placeholder {
        color: var(--text-tertiary-color);
    }

/* ==========================================================================
   Layout Components
   ========================================================================== */
.wrapper {
    max-width: 60em;
    margin: 0 auto;
    padding: 0 2em;
    position: relative;
}

/* ==========================================================================
   Navigation
   ========================================================================== */
.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4em;
    display: flex;
    align-items: center;
    background-color: rgba(255,255,255,0.8);
    z-index: 3;
    -webkit-backdrop-filter: blur(24px);
            backdrop-filter: blur(24px);
}
.navigation.-shadow {
        box-shadow: 0px -5px 15px 1px rgba(0,0,0,0.2);
        transition: box-shadow 0.2s ease-in-out;
    }
.navigation .navigation-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }
.navigation .navigation-logo-container {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        margin-right: 1rem;
        text-decoration: none;
        color: var(--text-color);
    }
.navigation .navigation-logo {
        width: 2em;
        height: 2em;
        margin-right: 1rem;
    }
.navigation .navigation-menu {
        display: flex;
        align-items: center;
    }
.navigation .navigation-menu a { color: var(--text-color); }
.navigation .navigation-menu li {
            margin-right: 3rem;
        }
.navigation .navigation-menu li:last-child { margin-right: 0; }
.navigation .navigation-mobile-menu {
        display: none;
        align-items: center;
        justify-content: flex-end;
        width: 2em;
    }
.navigation .navigation-mobile-menu .close-icon { display: none; }
.navigation.-mobile-open .navigation-mobile-menu .close-icon { display: block; }
.navigation.-mobile-open .navigation-mobile-menu .menu-icon { display: none; }
.navigation.-mobile-open .navigation-logo-container span { display: none; }
.navigation .navigation-mobile-drawer {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: -100%;
        padding-top: 3.9em;
        z-index: 2;
        transition: top 0.3s ease-in-out;
    }
.navigation .navigation-mobile-drawer .mobile-drawer-content {
            flex: 1;
            background-color: #FFFFFF;
            padding: 2em;
            overflow: scroll;
        }
.navigation .navigation-mobile-drawer .mobile-drawer-content li { display: flex; }
.navigation .navigation-mobile-drawer .mobile-drawer-content a {
                flex: 1;
                font-size: 1.4rem;
                font-weight: 500;
                margin-bottom: 1.8rem;
            }
.navigation .navigation-mobile-drawer .mobile-drawer-content a.-grey { color: var(--text-color); }
.navigation .navigation-mobile-drawer .mobile-drawer-content a.-border {
                    border-bottom: solid 1px var(--stroke-color);
                    margin-bottom: 1.2rem;
                    padding-bottom: 1.2rem;
                }
.navigation.-mobile-open .navigation-mobile-drawer {
        top: 0;
    }
.navigation.-mobile-open .navigation-mobile-drawer .mobile-drawer-content {
            height: 440px;
            border-bottom: 1px solid var(--stroke-color);
        }

@media (max-width: 40em) {
    .navigation {
        background-color: transparent;
        -webkit-backdrop-filter: none;
                backdrop-filter: none;
    }
        
        .navigation.-mobile-open .navigation-container {
            background-color: #FFFFFF;
        }
        
        .navigation .navigation-container {
            background-color: rgba(255,255,255,0.8);
            -webkit-backdrop-filter: blur(24px);
                    backdrop-filter: blur(24px);
        }
        
        .navigation .navigation-menu { display: none; }
        .navigation .navigation-mobile-menu,
        .navigation .navigation-mobile-drawer { display: flex; }
    
    body:has(.navigation.-mobile-open) {
        overflow: hidden;
    }
}

/* ==========================================================================
   Homepage Sections
   ========================================================================== */
.homepage {
    overflow: hidden;
    margin-top: 7em;
}
@media (min-width: 32em) {
.homepage {
        margin-top: 13em
}
    }
.homepage h1 { text-align: center; }

/* Apps Hero Section */
.apps-hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.apps-hero-container h1 {
        margin-bottom: 1em;
    }
@media (min-width: 32em) {
.apps-hero-container h1 {
            margin-bottom: 0.25em
    }
        }

.apps-toggles-container {
    display: flex;
    margin-bottom: 3em;
}

.apps-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.8em;
    font-size: 1.5rem;
    color: var(--text-color);
    opacity: 0.5;
    position: relative;
}

.apps-toggle .apps-toggle-selection {
        position: absolute;
        display: none;
    }

.apps-toggle .apps-toggle-selection:nth-child(1) {
            top: 0.1em;
            right: 0.6em;
        }

.apps-toggle .apps-toggle-selection:nth-child(1) svg path { stroke: #9FD7E4; }

.apps-toggle .apps-toggle-selection:nth-child(2) {
            top: 0.1em;
            right: 0.6em;
        }

.apps-toggle .apps-toggle-selection:nth-child(2) svg path { stroke: #884AA9; }

.apps-toggle .apps-toggle-selection:nth-child(3) {
            top: 0.1em;
            right: 0.2em;
        }

.apps-toggle .apps-toggle-selection:nth-child(3) svg path { stroke: #F0CB5F; }

.apps-toggle:last-child { margin-right: 0; }

.apps-toggle .toggle-icon svg {
        margin-right: 0.5em;
    }

.apps-toggle .toggle-icon svg g { fill: var(--text-color); }

.apps-screenshot-container {
    position: relative;
    width: 100%;
}

.apps-screenshot-container img {
        display: none;
        margin: auto;
        opacity: 0;
        max-width: 175%;
        position: relative;
        left: -37%;
    }

.apps-screenshot-container img:nth-child(1) { left: -70%; }

.apps-screenshot-container img:nth-child(3) { left: 0; }

@media (min-width: 46em) {
        .apps-screenshot-container img {
            max-width: 100%;
            left: 0;
        }
            
            .apps-screenshot-container img:nth-child(1) { left: 0; }
    }

/* Data attributes for app hero states */
[data-apps-hero="mac"] h1 u {
        text-underline-offset: 0.3rem;
        text-decoration-color: #9FD7E4;
    }
[data-apps-hero="mac"] .apps-app-store-button { display: none; }
[data-apps-hero="mac"] .apps-screenshot-mac {
        opacity: 1;
        display: block;
    }
[data-apps-hero="mac"] [data-apps-toggle="mac"] {
        opacity: 1;
    }
[data-apps-hero="mac"] [data-apps-toggle="mac"] .apps-toggle-selection { display: inline; }
[data-apps-hero="mac"] [data-apps-toggle="mac"] .toggle-icon svg { opacity: 0.7; }

[data-apps-hero="iphone"] h1 u {
        text-underline-offset: 0.3rem;
        text-decoration-color: #884AA9;
    }

[data-apps-hero="iphone"] .apps-mac-store-button { display: none; }

[data-apps-hero="iphone"] .apps-screenshot-iphone {
        opacity: 1;
        display: block;
    }

[data-apps-hero="iphone"] [data-apps-toggle="iphone"] {
        opacity: 1;
    }

[data-apps-hero="iphone"] [data-apps-toggle="iphone"] .apps-toggle-selection { display: inline; }

[data-apps-hero="iphone"] [data-apps-toggle="iphone"] .toggle-icon svg { opacity: 0.7; }

[data-apps-hero="ipad"] h1 u {
        text-underline-offset: 0.3rem;
        text-decoration-color: #F0CB5F;
    }

[data-apps-hero="ipad"] .apps-mac-store-button { display: none; }

[data-apps-hero="ipad"] .apps-screenshot-ipad {
        opacity: 1;
        display: block;
    }

[data-apps-hero="ipad"] [data-apps-toggle="ipad"] {
        opacity: 1;
    }

[data-apps-hero="ipad"] [data-apps-toggle="ipad"] .apps-toggle-selection { display: inline; }

[data-apps-hero="ipad"] [data-apps-toggle="ipad"] .toggle-icon svg { opacity: 0.7; }

/* ==========================================================================
   Footer
   ========================================================================== */
.footer-links {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    margin-bottom: 6em;
}
.footer-links a { color: var(--text-color); }
.footer-links ul li {
        line-height: 1.8em;
        text-align: center;
    }
.footer-links ul li:first-child {
            font-family: var(--heading-font);
            margin-bottom: 0.3em;
        }

.footer-copyright {
    color: var(--text-secondary-color);
    text-align: center;
    padding-bottom: 2em;
    position: relative;
}

.footer-copyright img {
        position: relative;
        top: 0.3em;
    }

.footer-copyright a { color: var(--text-secondary-color); }

@media (min-width: 23em) {
    .footer-links {
        justify-content: space-evenly;
        grid-template-columns: repeat(2, auto);
    }
        
        .footer-links ul li { text-align: left; }
}

@media (min-width: 37em) {
    .footer-links {
        justify-content: space-between;
        grid-template-columns: repeat(4, auto);
    }
}

/* ==========================================================================
   Utility Classes
   ========================================================================== */
.pro-tag {
    display: inline-block;
    background-color: var(--accent-color);
    color: #FFFFFF;
    font-weight: bold;
    padding: 0 0.3em;
    border-radius: 0.3em;
    line-height: 1.4em;
}
/* Variants */
.pro-tag.-yellow { background-color: #FCB827; }
.pro-tag.-blue { background-color: #44A2E5; }

/* ==========================================================================
   Media Queries for Background Elements
   ========================================================================== */
@media (min-width: 52em) {
    .space-background-container,
    .faq-space-background-container {
        display: block;
    }
}

/* ==========================================================================
   Responsive Adjustments
   ========================================================================== */
@media (max-width: 53em) {
    .list-image-block,
    .list-image-block:nth-child(even) {
        flex-direction: column;
        align-items: center;
        margin-bottom: 8em;
    }
        
        .list-image-block .list,
        .list-image-block .list-image,
        .list-image-block:nth-child(even) .list,
        .list-image-block:nth-child(even) .list-image {
            width: auto;
            max-width: 30em;
        }
        
        .list-image-block:nth-child(odd) :first-child,
        .list-image-block:nth-child(even) :last-child,
        .list-image-block:nth-child(even):nth-child(odd) :first-child,
        .list-image-block:nth-child(even):nth-child(even) :last-child {
            margin-right: 0;
        }
        
        .list-image-block:nth-child(even) .list, .list-image-block:nth-child(even):nth-child(even) .list {
            padding-left: 0;
        }
        
        .list-image-block .list-image, .list-image-block:nth-child(even) .list-image {
            margin-top: 2em;
        }
        
        .list-image-block .list-image-bg, .list-image-block:nth-child(even) .list-image-bg {
            opacity: 0.2;
        }
            
            .list-image-block .list-image-bg:nth-child(2), .list-image-block:nth-child(even) .list-image-bg:nth-child(2) {
                top: -7em;
                left: -58em;
                opacity: 0.1;
            }
            
            .list-image-block .list-image-bg:nth-child(3), .list-image-block:nth-child(even) .list-image-bg:nth-child(3) {
                top: -10em;
                right: -45em;
            }
            
            .list-image-block .list-image-bg:nth-child(4), .list-image-block:nth-child(even) .list-image-bg:nth-child(4) {
                top: -5em;
                left: -35em;
            }
        
        .list-image-block .list-image-gif-background, .list-image-block:nth-child(even) .list-image-gif-background {
            margin-left: 0;
        }
}